@media only screen and (max-width: 1000px) {
    input[type=email], input[type=password]{
        width: 50%;
    }



}

@media only screen and (max-width: 1200px) {
    input[type=email], input[type=password]{
        width: 45%;
    }


}

@media only screen and (max-width: 800px) {
    input[type=email], input[type=password]{
        width: 75%;
    }

    .btn-dark{

        padding-left: 150px;
        padding-right: 150px;
        border-radius: 10px;
    }

    .header{
        margin-left: 35px;
        margin-right: 35px;

    }

    .permit-cont{
        text-align: center;
    }

    .act-log{
        text-align: center;
    }


}

@media (max-width: 800px){
    .navbar-brand {
        position: relative;
        left: 10%; 
        transform: translateX(-50%); 
    }

    .navbar-brand img {
        margin-right: 5px; 
    }

}

@media (max-width: 500px) {
    .cntcts {
        display: none; 
    }
}

@media only screen and (max-width: 1400px) {
    .header h3 {
        display: none;
    }

    
}
